* {
  background-color: rgba(243, 240, 242, 1);
  
    ;}
    :root{
      font-size: 20px;
    }
    @media only screen and (max-width: 600px) {
      .Texto-1,
      .Texto-2,
      .Texto-3,
      .Texto-4 {
        text-align: center;
      }
    
      .Fila-1,
      .Fila-2,
      .Fila-3,
      .Fila-4 {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
      .Fila-1 img,
      .Fila-2 img,
      .Fila-3 img,
      .Fila-4 img {
        width: 100%;
        height: auto;
      }
    }


    /* Container y clases principales*/


    .container {  display: grid;   /* Config de Conteiner padre*/
      grid-template-columns: 1fr 1fr 0.7fr 1.3fr;
      grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "Header Header Header Header"
        "Fila-1 Fila-1 Fila-1 Texto-1"
        "Texto-2 Fila-2 Fila-2 Fila-2"
        "Fila-3 Fila-3 Fila-3 Texto-3"
        "Texto-4 Fila-4 Fila-4 Fila-4"
        "Footer Footer Footer Footer";
        gap: 12px 12px;
      
    }


    
    .Fila-Impar{
      padding-right: 10%;
    }

    .Fila-Par{
      padding-left: 10%;
    }



    .Texto-1 {
      justify-self: center;
      align-self: center;
      grid-area: Texto-1;
      font-family: 'Cormorant', serif;
      font-size: 1.15rem;
      text-align: center;
      vertical-align: middle;

      /*background-color: rgb(114, 47, 55);*/
    }

    .Fila-2 {
      justify-self: end;
      grid-area: Fila-2;
    }

    
    .Texto-2 {
      justify-self: center;
      align-self: center;
      grid-area: Texto-2;
      font-family: 'Cormorant', serif;
      text-align: center;
      vertical-align: middle;

    }


    .Fila-3 {
      justify-self: start;
      align-self: center;
      grid-area: Fila-3;
    }
    
    
    .Texto-3 {
      justify-self: center;
      align-self: center;
      grid-area: Texto-3;
      font-family: 'Cormorant', serif;
      text-align: center;
      vertical-align: middle;
    }


    .Fila-4 {
      object-fit: scale-down;
      width: 100%;
      height: 100%;
      object-fit: cover; /* Ajusta la imagen para cubrir todo el contenedor */
      object-position: center; /* Centra la imagen en el contenedor */
      grid-area: Fila-4;
    }
    

    .Texto-4 {
      justify-self: center;
      align-self: center;
      grid-area: Texto-4;
      font-family: 'Cormorant', serif;
      text-align: center;
      vertical-align: middle;

    }


    .Footer {
      justify-self: center;
      align-self: center;
      grid-area: Footer;
      font-family: 'Cormorant', serif;
      text-align: center;
      vertical-align: middle;
    }


    .Fila-1 {
      justify-self: center;
      align-self: center;
      grid-area: Fila-1;          
    }
    

    .Header {
      justify-self: center;
      align-self: center;
      grid-area: Header;
    }
    





/*Estilo particular de cada tipo de objeto dentro de la fila o clcase general*/

    /* Estilo del título */
    .Header h1{
      font-size: 2.5rem; /* Tamaño de fuente de 2.5 "rem" */
      font-family: "Cinzel", sans-serif; /* Tipo de letra */
      margin-bottom: 0.5rem; /* Espaciado inferior */
      text-align: center;
    }

    /* Estilo del eslogan */
    .Header p {
      font-size: 1.8rem; /* Tamaño de fuente de 1.5 "rem" */
      font-family: 'Cormorant', serif;; /* Tipo de letra */
      line-height: 1.2; /* Espaciado entre líneas */
    }
    .Fila-4 img{
      max-width: 100%;
    	height: auto; 
      display: block; 
    }
    .Fila-3 img{
      max-width: 100%;
    	height: auto; 
      display: block;
    }
    .Fila-2 img{
      max-width: 100%; /* La imagen nunca será más ancha que el contenedor */
    	height: auto; /* La altura se ajustará automáticamente proporcionalmente a la anchura */
      display: block; /* Asegura que la imagen se muestra como bloque y no afecta la disposición de otros elementos */
    }
    .Fila-1 img{
      max-width: 100%; 
    	height: auto; 
      display: block;
    }






/* Genero todo lo que fue el toast*/

    .toast {
      position: fixed;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #333;
      color: #fff;
      padding: 10px 20px;
      border-radius: 5px;
      z-index: 9999;
      display: none; /* Por defecto, la notificación estará oculta */
    }

    .toast.show {
      display: block; /* Muestra la notificación cuando tiene la clase 'show' */
    }





    /*Cosas Carrito*/


    .carrito {
      border: 1px solid #ccc;
      padding: 10px;
      margin-top: 20px;
    }
    
    .lista-productos {
      list-style-type: none;
      padding: 0;
    }
    
    .lista-productos li {
      margin-bottom: 10px;
    }
    
    .agregar-carrito {
      background-color: #4CAF50;
      color: white;
      padding: 5px 10px;
      border: none;
      cursor: pointer;
    }
    
    .agregar-carrito:hover {
      background-color: #45a049;
    }


    /* Estilos para el botón del carrito */
    .carrito-btn {
      background-color: #45a049;
      border: none;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 9999;
      color: white;
    }

    #contadorProductos {
      position: absolute;
      top: -8px;
      right: -8px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      background-color: #ff0000;
      color: #ffffff;
      font-size: 12px;
      border-radius: 50%;
    }
    
/*Me quedo con esta si encuentro una buena foto

    .carrito-icon {
      width: 20px;
      height: 20px;
      vertical-align: middle;
      margin-right: 5px;
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 9999;
    }
*/
    

/* Estilos para la ventana del carrito */
.carrito-ventana {
  position: fixed;
  top: 70px;
  left: 10px;
  width: 280px;
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 10px;
  display: none;
}

.carrito-ventana ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.carrito-ventana ul li {
  margin-bottom: 10px;
}

.carrito-ventana p {
  margin-bottom: 10px;
  font-weight: bold;
}

.Footer {
  text-align: center;
  margin-top: 20px;
}

.sumar,
.restar {
  margin-left: 10px;
}

    