* {
  background-color: rgba(243, 240, 242, 1);
  
    ;}

    :root{
      font-size: 20px;
    }
    @media only screen and (max-width: 600px) {
      .fila {
        width: 100%;
        position: relative;
      }
      .texto {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
      }
      .fila:hover .texto {
        display: block;
      }
    }

    .container {  display: grid;   /* Config de Conteiner padre*/
      grid-template-columns: 1fr 1fr 0.7fr 1.3fr;
      grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "Header Header Header Header"
        "Fila-1 Fila-1 Fila-1 Texto-1"
        "Texto-2 Fila-2 Fila-2 Fila-2"
        "Fila-3 Fila-3 Fila-3 Texto-3"
        "Texto-4 Fila-4 Fila-4 Fila-4"
        "Footer Footer Footer Footer";
        gap: 12px 12px;
    }
    
    .Texto-1 {
      justify-self: center;
      align-self: center;
      grid-area: Texto-1;
      font-family: 'Cormorant', serif;
      font-size: 1.15rem;
      
      /*background-color: rgb(114, 47, 55);*/
    }
    
    .Fila-2 {
      justify-self: end;
      grid-area: Fila-2;
    }
    
    .Texto-2 {
      justify-self: center;
      align-self: center;
      grid-area: Texto-2;
      font-family: 'Cormorant', serif;
    }
    
    .Fila-3 {
      justify-self: start;
      align-self: center;
      grid-area: Fila-3;
    }
    
    .Texto-3 {
      justify-self: center;
      align-self: center;
      grid-area: Texto-3;
      font-family: 'Cormorant', serif;
    }
    
    .Fila-4 {
      object-fit: scale-down;
      width: 100%;
      height: 100%;
      object-fit: cover; /* Ajusta la imagen para cubrir todo el contenedor */
      object-position: center; /* Centra la imagen en el contenedor */
      grid-area: Fila-4;
    }
    
    .Texto-4 {
      justify-self: center;
      align-self: center;
      grid-area: Texto-4;
      font-family: 'Cormorant', serif;
    }
    
    .Footer {
      justify-self: center;
      align-self: center;
      grid-area: Footer;
      font-family: 'Cormorant', serif;
    }
    
    .Fila-1 {
      justify-self: center;
      align-self: center;
      grid-area: Fila-1;          
    }
    
    .Header {
      justify-self: center;
      align-self: center;
      grid-area: Header;
    }
    

    /* Estilo del título */
    .Header h1{
      font-size: 2.5rem; /* Tamaño de fuente de 2.5 "rem" */
      font-family: "Cinzel", sans-serif; /* Tipo de letra */
      margin-bottom: 0.5rem; /* Espaciado inferior */
    }
 
    /* Estilo del eslogan */
    .Header p {
      font-size: 1.8rem; /* Tamaño de fuente de 1.5 "rem" */
      font-family: 'Cormorant', serif;; /* Tipo de letra */
      line-height: 1.2; /* Espaciado entre líneas */
    }

    .Fila-4 img{
      max-width: 100%; /* La imagen nunca será más ancha que el contenedor */
    	height: auto; /* La altura se ajustará automáticamente proporcionalmente a la anchura */
      display: block; /* Asegura que la imagen se muestra como bloque y no afecta la disposición de otros elementos */
    }

    .Fila-3 img{
      max-width: 100%; /* La imagen nunca será más ancha que el contenedor */
    	height: auto; /* La altura se ajustará automáticamente proporcionalmente a la anchura */
      display: block; /* Asegura que la imagen se muestra como bloque y no afecta la disposición de otros elementos */
    }
    .Fila-2 img{
      max-width: 100%; /* La imagen nunca será más ancha que el contenedor */
    	height: auto; /* La altura se ajustará automáticamente proporcionalmente a la anchura */
      display: block; /* Asegura que la imagen se muestra como bloque y no afecta la disposición de otros elementos */
    }
    .Fila-1 img{
      max-width: 100%; /* La imagen nunca será más ancha que el contenedor */
    	height: auto; /* La altura se ajustará automáticamente proporcionalmente a la anchura */
      display: block; /* Asegura que la imagen se muestra como bloque y no afecta la disposición de otros elementos */
    }